* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
body {
  font: 100%/1.5em Arial, Helvetica, sans-serif;
  width: 100%;
  height: auto;
  background: url(../img/bg.png) repeat;
}
body:after {
  background: transparent;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%);
  background: -webkit-gradient(left top(0%, rgba(255, 255, 255, 0.9)), color-stop(100%, rgba(0, 0, 0, 0.9)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.1) 100%);
  background: -webkit-gradient(bottom(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.1) 100%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.1) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.1) 100%);
  content: "";
  display: block;
  position: absolute;
  height: 40%;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 0;
}
img {
  max-width: 100%;
  height: auto;
}
.all {
  max-width: 1920px;
  height: auto;
}
.content {
  overflow: hidden;
  max-width: 1030px;
  height: auto;
  margin: auto;
  padding: 3% 0 0 0;
  z-index: 2;
  position: relative;
}

/*Header Logo*/

.logo {
  width: 40%;
  float: left;
  height: auto;
  margin-left: 8%;
  margin-top: 2%;
}
.logo a{
    color: #299282;
}
.logo h1 {
  text-align: center;
  font-family: LadyCopra;
  font-weight: lighter;
  font-size: 2.9em;
  color: #299282;
  padding-top: 10px;
}
.logo p {
  padding-top: 10px;
  color: #6b7272;
  width: 100%;
  text-align: center;
  font-size: 0.8em;
  font-family: italic;
  text-shadow: 0.5px 0.9px 0 rgba(255, 255, 255, 0.50);
}
.logo p:before, .logo p:after {
  content: '';
  position: absolute;
  width: 2.5%;
  border-top: 1.5px solid #6b7272;
  margin-top: .8em;
}
.logo p:before {
  margin-left: -3.3%;
}
.logo p:after {
  margin-left: 1%;
}
.leftcontent {
  float: left;
  color: #a9b1b0;
  width: 25%;
  padding-top: 5px;
}
.leftcontent p {
  font-family: "InterstateBoldCondensed";
  font-size: 0.8em;
}
.leftcontent h3 {
  font-size: 0.9em;
  color: #545454;
  padding-top: 15px;
}
.imgstr {
  margin-left: 35%;
  margin-top: -20px;
}
.search {
  width: 20%;
  float: right;
  margin-top: 3%;
}
.search input {
  border-radius: 20px 20px 20px 20px;
  outline: none;
  background: url(../img/search.jpg);
  background-position: right;
  height: 15px;
  width: 95%;
  font-family: italic;
  font-size: 0.7em;
}

/*Slider*/

.header {
  background: url(../img/header.png) no-repeat;
  height: auto;
  width: auto;
  margin-top: 15%;
}
.header ul {
  padding: 2.5% 0 3% 0;
}
.header ul li {
  display: inline-block;
  margin-left: 3.5%;
  /*border: 1px solid red;*/
}
.header ul li a {
  font-size: 15pt;
  color: #87391b;
  font-weight: bold;
}
.header ul li a:hover {
  color: #a57d4f;
  border: 1px solid red;
}
.header ul li p {
  text-align: center;
  color: #723a1e;
  font-family: italic;
}
.header ul li:nth-child(1) {
  margin-left: 17%;
}

/*Menu & Slider*/

.rest img {
  padding-top: 2%;
}
.circle {
  position: absolute;
  width: 175px;
  height: 175px;
  padding: 10px;
  background: #ace3db;
  border-radius: 175px;
  top: 2%;
  left: 40%;
}
.circle>p {
  margin-top: 20%;
  text-align: center;
  color: #67b7ab;
  font-family: InterstateBoldCondensed;
  font-size: 1em;
}
.circle>p+p:after {
  margin-left: -40%;
}
.circle h2 {
  font-size: 12px;
  font-family: italic;
  color: #869996;
  width: 70%;
  margin: auto;
  line-height: 1.5em;
  margin-top: -6%;
  text-align: center;
}
hr {
  width: 100%;
  size: 0px;
}

/*White background for center content*/

.square {
  width: 998px;
  height: auto;
  background: white;
  overflow: hidden;
  position: relative;
  margin: auto;
  margin-top: -1%;
}

/*Center content, news, states & comments*/

.center_content {
  width: 100%;
  height: auto;
  padding-top: 2%;
}
.News {
  max-width: 930px;
  margin: auto;
}

/*Small pictures width center content*/

.small_content {
  overflow: hidden;
  width: 75%;
  float: left;
}
.top-foto a {
  margin-left: 3%;
  font-family: GlasgowMedium;
  font-size: 13px;
  color: #278f7f;
}
.top-foto h3 {
  font-family: GlasgowMedium;
  float: left;
  color: #393939;
  font-size: 0.9em;
}
.top-foto {
  float: left;
  width: 100%;
  height: auto;
}
.top-foto ul {
  margin-top: 1%;
}
.top-foto ul li {
  display: inline-block;
  padding-bottom: 6%;
}

/*Sideber*/

aside {
  width: 22%;
  height: auto;
  display: block;
  float: right;
  margin-top: 1%;
}
aside h3 {
  font-family: "InterstateBoldCondensed";
  float: left;
  font-size: 1em;
  color: #393939;
}
aside a {
  margin-left: 5%;
  font-family: italic;
  font-size: 0.8em;
  color: #278f7f;
  text-shadow: 0.5px 0.9px 0 rgba(255, 255, 255, 0.50);
  font-weight: bold;
}
aside img {
  margin-top: 4%;
  padding-bottom: 10%;
}
aside:nth-child(4) {
  margin-left: 0;
}
aside p {
  font-family: regs;
  line-height: 1.5em;
  font-size: 12px;
  color: #baaf9a;
  font-weight: bolder;
  margin-top: 5%;
}
aside .Slons {
  margin-top: 20%;
}
aside img+a {
  margin-left: 0;
}
aside img a+p {
  font-family: regs;
  line-height: 1.2em;
  font-size: 12px;
  font-weight: bolder;
}
.vote {
  margin-top: 25%;
}
.vote h3 {
  width: 100%;
  padding-bottom: 10%;
}
.vote p {
  margin-top: 25%;
}
.vote ul {
  margin-top: 10%;
  list-style-type: none;
}
.vote ul p {
  margin-top: 4%;
  font-size: 12px;
  font-family: italic;
}
.vote .line {
  content: '';
  position: absolute;
  width: 10%;
  border-top: 1px solid #e5ede7;
  margin-top: 0;
}
.vote div {
  display: inline-block;
  color: #278f7f;
  padding: 2% 8% 2% 8%;
  font-weight: bold;
  font-family: "InterstateBoldCondensed";
  margin-top: 10%;
  border-radius: 10%;
}
.vote div:hover {
  background-color: #f0e3c8;
  color: #b7a47d;
  cursor: pointer;
}
.subr {
  margin-top: 25%;
}
.subr h3 {
  padding-bottom: 10%;
}
.subr input {
  border-radius: 20px 0px 0px 20px;
  height: auto;
  display: inline-block;
  padding: 2.5% 0 2% 10%;
  outline: none;
  border: none;
  box-shadow: inset 3px 3px 1px -1px #cdcdcd;
  width: 75%;
  background-color: #f4ebd8;
}
.input::-webkit-input-placeholder {
  font-family: italic, cursive;
  font-size: 0.9em;
}
.subr input[type="button"] {
  background: url(../img/buttons/mail.jpg) no-repeat;
  background-position: center;
  background-color: #f4ebd8;
  border: none;
  outline: none;
  padding: 2px 0px 7px 30px;
  border-radius: 0px 20px 20px 0;
  width: 25px;
  cursor: pointer;
  margin-left: -2%;
  box-shadow: inset 0px 3px 1px -1px #cdcdcd;
}
.subr div {
  display: inline-block;
  margin: 8% 0 0 0.5%;
}

/*Footer*/

footer {
  max-width: 998px;
  margin: auto;
}
.logo_footer h3 {
  position: absolute;
  margin-top: -110px;
  margin-left: 50px;
  color: #ffffff;
  font-family: LadyCopra;
  font-size: 2.5em;
  font-weight: 200;
}
.logo_footer p {
  color: #ffffff;
  margin-top: -30px;
  font-family: italic;
  font-size: 0.9em;
  font-weight: bold;
}
.logo_footer a {
    color: white;
}

/*Other width footer*/

footer ul {
  width: 15%;
  list-style-type: none;
  margin-top: -150px;
  margin-left: 400px;
  position: absolute;
}
footer ul li a {
  color: #81b7ad;
  text-decoration: underline;
  font-size: 0.9em;
  font-family: italic;
}
footer ul li {
  line-height: 1;
  font-weight: bold;
}
footer>ul+ul {
  padding-left: 20%;
}
footer>ul+ul+ul{
    padding-left: 40%;
}
footer>ul>div {
  display: inline-block;
  padding-top: 15%;
  width: 11%;
}
